.login_container{
    width: 100%; height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5)
}
.loginmodal{
    position: absolute;
    background-color: #eee;
    border-radius: 15px;
    left: 50%; top: 50%;
    transform:translate(-50%,-50%);
    width: 50%; height: 70%;
    max-width: 400px; min-width: 200px;
    min-height: 300px;
    padding-bottom : 33px;
    padding-left : 55px;
    padding-right : 55px;
    padding-top : 77px;
    overflow: hidden;
}

.loginmodal h1{
    padding-bottom: 26px;
    text-align: center;
}

.loginmodal div{
    margin-bottom: 20px;
    text-align: center;
}

.loginmodal p{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    overflow: hidden;
    justify-content: space-around;
    display: flex;
}

.loginmodal p button{ /* 중복확인 버튼*/
    position: relative;
    top: 16px;
    color: #fff;
    /* background-color: #1080ff; */
    background: linear-gradient(to right, #1080ff, #a406ff);
    /* border-radius: 15px; */
    width: 70px;
    height: 30px;
    border: none;
    font-weight: bold;
}

.loginmodal p input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding-top: 20px;
    outline: none;
}

.loginmodal p label {
    position:absolute;  
    left:0%; 
    bottom:0px; 
    height:100%;
    width: 100%;
    pointer-events:none; 
    text-align:left; 
    border-bottom: 1px solid black;
}

.loginmodal p label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #529df1;
    transform:translateX(-100%);
    transition: transform 0.3s ease;
}

.loginmodal p label span {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
    color: rgb(126, 126, 126);
}

.loginmodal p input:focus + label span,
.loginmodal p input:valid + label span{
    transform: translateY(-130%);
    font-size: 14px;
    color: #4099ff;
}

.loginmodal p input:focus + label::after,
.loginmodal p input:valid + label::after {
    transform: translateX(0%);
}

.loginmodal .btnwrapper {
    text-align: center;
}

.loginmodal .modalbtn {
    color: #fff;
    margin-top: 20px;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    background: linear-gradient(to right, #1080ff, #a406ff);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-family: Poppins-Medium;
    font-weight: bold;
}


.googleBtn {
    margin-top: 20px;
}