.entry{
    display: block;
    clear: both;
    border: 1px solid rgb(214, 214, 214);
    width:1250px;
    height: 120px;
    margin-bottom: 15px;
    background-color: #fff;
    /* border-radius: 15px; */
    /* vertical-align: middle; */
}
.entry_stateColor,.box,.entry_host,.entry_description{
    float: left;
    height: 120px;
    /* border-radius: 15px 0 0 15px; */
    /* border:1px solid red; */
}
.entry_stateColor{
    width: 10px;
    background-color: #ed6767;
}

.entry_title{
    /* border: 1px solid red; */
    padding:10% 0 5% 0;
    font-size: 22px;
}
.entry_date{
    /* margin-top: 10px; */
    font-size: 16px;
}
.entry_host{
    width: 80px; height: 80px;
    margin-top: 10px;
    border-radius: 50%;
}
.box{
    /* border:1px solid red; */
    text-align: center;
    width: 300px;
    /* margin: 0 30px */
}
.kdabox{
    /* text-align: center; */
    width: 200px;
}
.entry_kda{
    margin-top: 40px;  
}
.entry_progress{
}

.entry_description_parent{
    /* position: relative; */
    width: 330px;
    height: 120px; 
    display: inline-block;
}
.entry_description{
    width: 430px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.entry_team{
    /* border: 1px solid red; */
    padding-top:10px;
    float: left;
    width: 190px;
    height: 120px;
    /* margin-left: 20px; */
    padding-left: 40px;
}
.entry_teamimg{
    width: 50px;height: 50px;
    border: 1px solid #ccc;
    border-radius: 50px;
}