/* nav */
.todoList_process_color {
  width: 20px;
  height: 60px;
  display: inline-block;
}
.todoList_nav {
  border: solid 2px thistle; /*! 삭제 하라고*/
  height: 60px;
}

/* card list */
.todoList_taskCards {
  max-width: 1200px;
  margin: 0 auto;
}
.todoList_todo, .todoList_inprogress, .todoList_done {
  border: solid 2px greenyellow; /*! 삭제 하라고*/
  background-color: #335;
  padding-bottom: 30px;
  padding: 15px;
  color: #fff;
  width: 330px;
  float:left;
  max-height: 800px;
  margin-left: 20px;
  margin-right: 20px;
}
.todoList_counts {
  float: right;
}
.todoList_todo_list, .todoList_inprogress_list, .todoList_done_list {
  overflow: auto;
  max-height: 750px;
}
.todoList_position_box {
  border: solid 2px coral; /*! 삭제 하라고*/
  height: 100px;
}

/* entry */
.todoList_cards {
  border: solid 2px red; /*! 삭제 하라고*/
  background-color: #fff;
  color: #000;
  width: 275px;
  min-height: 110px;
  max-height: 170px;
  margin: 10px auto;
}
.todoList_cards_textarea { /*! 크기 고정 필요*/
  width: 240px;
  height: 95px;
}
.todoList_cards_content {
  display: inline-block;
  overflow:auto;
  width: 240px;
  min-height: 65px;
  max-height: 100px;
}
.todoList_cards_button {
  background-color: #fff;
  border: 1px #000 solid;
  vertical-align: top;
}
.todoList_cards_contributers {
  border: solid 2px thistle; /*! 삭제 하라고*/
  display: inline-block;
  width: 240px;
  min-height: 32px;
}
.todoList_cards_contributers_profile {
  width: 30px;
  height: 30px;
}
