/** main */
.todoList {
  background-image: url(./img/howling_abyss.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
}
.todoList > textarea:focus, button:focus, input:focus {
  outline: 0;
}

/** nav */
.todoList_nav {
  background-color: #fff;
  height: 55px;
  display: flex;
  border-bottom: #335 1px solid;
}
.todoList_nav_process_color {
  margin-left: 0px;
  width: 1%;
}
.todoList_nav_info {
  margin: 0 auto;
}
.todoList_nav_date, .todoList_nav_process, .todoList_nav_title {
  float: left;
  padding-top: 3%;
  padding-left: 15px;
  padding-right: 15px;
}
.todoList_nav_title {
  padding-top: 1%;
  font-size: 30px;
}
.todoList_nav_buttons {
  border: solid 2px coral; /*! 삭제 하라고*/
  margin-right: 0px;
}

/** card list */
.todoList_taskCards {
  max-width: 1200px;
  margin: 0 auto;
}
.todoList_list_title {
  display: inline-block;
  font-size: 18px;
}
.todoList_add_card {
  float: right;
  border: none;
  margin-top: 17px;
  background-color: transparent;
}
.todoList_add_box {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 274px;
  background-color: #fff;
  border: 1px #aaa solid;
}
.todoList_input {
  display: block;
  resize: none;
  width: 274px;
  height: 115px;
  border: none;
  border-bottom: solid 1px #aaa;
}
.todoList_submit_input {
  width: 274px;
  height: 26px;
  background-color: #fff;
  border: none;
  display: block;
  margin: 0 auto;
}
.todoList_todo, .todoList_inprogress, .todoList_done {
  border-radius: 20px;
  background-color: #13193d;
  border: 1px solid #335;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #fff;
  width: 335px;
  height: 834px;
  float: left;
  margin: 30px;
}
.todoList_counts {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  font-weight:600;
}
.todoList_todo_list, .todoList_inprogress_list, .todoList_done_list {
  overflow: auto;
  height: 745px;
  display: flex;
  flex-direction: column;
}
.todoList_position_box {
  flex:1;
}

/** entry */
.todoList_cards {
  border: solid 1px #aaa;
  background-color: #fff;
  color: #000;
  width: 276px;
  min-height: 130px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;}
.todoList_edit {
  font-size:20px;
  height: 20px;
  float: right;
  margin-right: 5px;
}
.todoList_editList {
  width: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 20px;
}
.todoList_editList > button {
  width: 50px;
}
.todoList_cards_button {
  display: block;
  float: right;
  background-color: #fff;
  border: 1px #aaa solid;
}
.todoList_cards_textarea {
  display: block;
  resize: none;
  border: none;
  border-bottom: solid 1px #aaa;
  width: 274px;
  height: 115px;
  margin-bottom: 1px;
}
.todoList_cards_confirm_button_submit {
  display: inline-block;
  width: 137px;
  height: 26px;
  background-color: #fff;
  border: none;
  border-right: 1px #aaa solid;
}
.todoList_cards_confirm_button_cencel {
  display: inline-block;
  width: 137px;
  height: 26px;
  background-color: #fff;
  border: none;
}
.todoList_cards_content {
  display: inline-block;
  overflow:auto;
  width: 274px;
  min-height: 85px;
}
.todoList_mambers {
  border-top: 1px #aaa solid;
}
.todoList_cards_contributers {
  display: inline-block;
  width: 230px;
  height: 30px;
}
.todoList_cards_contributers_button {
  float: right;
  margin: 2px auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px #aaa;
  background-color: #fff;
}
.todoList_cards_contributers_profile {
  margin: 4px;
  margin-bottom: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px #aaa;
}
.todoList_cards_contributers_input {
  width: 230px;
  height: 27px;
  border: none;
  border-top: solid 1px #aaa;
}
.todoList_cards_contributers_add_button {
  width: 43px;
  height: 27px;
  background-color: #fff;
  border: none;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
}
.todoList_cards_remove div {
  text-align: center;
  line-height: 100px;
  height: 100px;
  margin-bottom: 1px;
  border-bottom: 1px solid #aaa;
}
.todoList_cards_remove_submit {
  display: inline-block;
  width: 137px;
  height: 26px;
  background-color: #fff;
  border: none;
  border-right: 1px #aaa solid;
}
.todoList_cards_remove_cencel {
  display: inline-block;
  width: 137px;
  height: 26px;
  background-color: #fff;
  border: none;
}